.container {
	max-width: 800px;
	margin: auto;
	padding: 10px;
}

.input-wrapper {
	margin: 60px auto;
}

.input-wrapper input {
	border: 1px solid;
	border-radius: 0;
	display: block;
	padding: 10px;
	width: 100%;
	font-size: 16px;
}

.title {
	margin-top: 20px;
}

.photo-wrapper {
	display: flex;
	height: 160px;
}

.image-wrapper img {
	float: left;
	width: 150px;
	height: 120px;
	object-fit: cover;
}

.photo-details-wrapper {
	padding-left: 20px;
}

.photo-details-wrapper h2 {
	margin-top: 0;
}

.photo-details {
	display: flex;
}
