.container {
	max-width: 800px;
	margin: auto;
	padding: 10px;
}

body {
	background-color: #e6f9ff;
}

.input-wrapper {
	margin: 60px auto;
}

.input-wrapper input {
	border: 1px solid;
	border-radius: 0;
	display: block;
	padding: 10px;
	width: 100%;
	font-size: 16px;
}

.title {
	margin-top: 20px;
}

.photo-wrapper {
	display: flex;
	height: 120px;
	margin-bottom: 40px;
}

.photo-wrapper:hover {
	background-color: #b3c6ff;
}

.image-wrapper img {
	float: left;
	width: 150px;
	height: 120px;
	object-fit: cover;
}

.photo-details-wrapper {
	padding-left: 20px;
}

.photo-details-wrapper h2 {
	margin-top: 0;
}

.photo-details {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 73px);
	grid-gap: 7px;
}
